/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Segoe UI";
    font-weight: 400;
    src: url("../fonts/SegoeUI.woff2") format("woff2");
    src: url("../fonts/SegoeUI.woff") format("woff")
}

@font-face {
    font-family: "Segoe UI";
    font-weight: 600;
    src: url("../fonts/SegoeUI-Bold.woff2") format("woff2");
    src: url("../fonts/SegoeUI-Bold.woff") format("woff")
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    /* --global-color-alpha:#D4E2FA;
    --global-color-alpha-dark:#021433; 
    --global-color-alpha-light:#F0F4FC; 
    --global-color-alpha-light-border:#BAD0F7;  */

    --global-color-alpha:#DA1212;
    --global-color-beta:#11468F;

    --global-font-color: #fff;
    
    --global-font-color-beta: #3B3B3B;
    
    --global-border-color: #3B3B3B;

    

    --color-back: #fff;

    /* --global-color-box-shadow: #0A2B66; */

    /* opacity */
    --global-opacity:60%;

    /* transitions */
    /* --local-sun-position-left: 60%;
    --local-sun-position-bottom:40%; */

}



/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 100%;
    line-height: 1.5;
    /* font-family: Helvetica, arial, sans-serif; */
    font-family: "Segoe UI", Helvetica;
    /* font-family: "Work sans Web", Helvetica; */
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-front);
    background-color: var(--color-back);
    font-feature-settings: "zero" 1;
    height: 100%;
}



*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: yellow;
    color: white;
    text-shadow: none;
}

::selection {
    background: yellow;
    color: var(--global-font-color-beta);
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: 3rem;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
    
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: yellow;
    outline-color: yellow;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: yellow;
}

a:hover,
a:focus {
    color: yellow;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: scoreboard
    ---
    Website main scoreboard
*/

.c-scoreboard{
    width: 100%;
    height: 100vh;
    /* padding-bottom: 1.5rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 9fr 3fr;
}

.c-scoreboard-blue{
    padding: 2rem;
    display: grid;
    /* gap: 1.5rem; */
    background-color: var(--global-color-beta);
    align-content: center;
    justify-content: center;
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: 3fr 4fr;
}

.c-scoreboard-red{
    display: grid;
    padding: 2rem;
    /* gap: 1.5rem; */
    background-color: var(--global-color-alpha);
    grid-template-rows: 3fr 4fr;
    justify-content: center;
}

.c-scoreboard-red-points{
    font-size: 14rem;
    font-weight: 600;
    color: var(--global-font-color);
    justify-self: center;
}

.c-scoreboard-blue-points{
    font-size: 14rem;
    font-weight: 600;
    color: var(--global-font-color);
    justify-self: center;
}

.c-scoreboard-red-team{
    color: var(--global-font-color);
    justify-self: center;
    /* font-size: 70px; */
    font-size: 5rem;
}

.c-scoreboard-blue-team{
    color: var(--global-font-color);
    justify-self: center;
    font-size: 5rem;
}

.c-scoreboard-red-serve{
    color: var(--global-font-color);
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.c-scoreboard-blue-serve{
    color: var(--global-font-color);
    font-size: 1.5rem;
    font-weight: 600;
    display: none;
    align-items: center;
    gap: 0.5rem;
}

.c-scoreboard-serve-active{
    height: 1rem;
    width: 100%;
    background-color: var(--global-font-color);
}

.c-scoreboard-serve-left{
    display: none;
}

.c-scoreboard-serve-right{
    display: block;
}

.is-left  .c-scoreboard-serve-left{
    display: block;
}

.is-left  .c-scoreboard-serve-right{
    display: none;
}

.is-team-2 .c-scoreboard-red-serve{
    display: none;
}

.is-team-2 .c-scoreboard-blue-serve{
    display: flex;
}

.is-done .c-scoreboard-red-serve{
    display: none;
}

.is-done .c-scoreboard-blue-serve{
    display: none;
}

.c-scoreboard-team-naam{
    display: flex;
    flex-direction: column;
}

.c-scoreboard-naam{
    /* font-size: 70px; */
    font-size: 4rem;
    align-self: center;
    margin: 0;
}

/*
    Component: extras
    ---
    extra info on scoreboard
*/

.c-extras{
    grid-column: span 2 ;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.c-extras-set{
    display: grid;
    /* align-items: center; */
    justify-content: center;
    grid-template-rows: 1fr 1fr;
}

.c-extras-text{
    margin: 0;
    justify-self: center;
    font-size: 4rem;
    font-weight: 600;
    color: var(--global-font-color-beta);
}

.c-extras-text-game{
    grid-row: span 2;
    margin: 0;
    justify-self: center;
    align-self: center;
    font-size: 4rem;
    font-weight: 600;
    color: var(--global-font-color-beta);
}

.c-extras-text-tiebrake{
    margin: 0;
    justify-self: center;
    align-items: flex-start;
    opacity: 0;
    font-size: 2rem;
    font-weight: 600;
    transition: opacity 0.2s;
    color: var(--global-font-color-beta);
}

.tiebreak .c-extras-text-tiebrake{
    opacity: 1;
    
}

.c-extras-set_red{
    margin: 0;
    justify-self: center;
    color: var(--global-color-alpha);
    font-size: 5rem;
    font-weight: 600;
}

.c-extras-set_blue{
    margin: 0;
    justify-self: center;
    color: var(--global-color-beta);
    font-size: 5rem;
    font-weight: 600;
}

.c-extras-games{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12rem;
    padding-right: 12rem;
    border-left: 4px solid var(--global-border-color);
    border-right: 4px solid var(--global-border-color);
}

.c-extras-games-mid{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
}

.c-extras-games-red{
    margin: 0;
    justify-self: center;
    color: var(--global-color-alpha);
    font-size: 5rem;
    font-weight: 600;
}

.c-extras-games-blue{
    margin: 0;
    justify-self: center;
    color: var(--global-color-beta);
    font-size: 5rem;
    font-weight: 600;
}

.is-done .c-extras{
    display: none;
}

/*
    Component: info
    ---
    Show extra info
*/

.c-info{
    grid-column: span 2 ;
    display: none;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.c-info-winner{
    grid-column: span 2;
    justify-self: center;
    color: var(--global-font-color-beta);
    font-size: 3rem;
    font-weight: 600;
}

.c-info-winner-red{
    grid-column: span 2;
    justify-self: center;
    color: var(--global-color-alpha);
    font-size: 3rem;
    font-weight: 600;
}

.c-info-winner-blue{
    grid-column: span 2;
    justify-self: center;
    color: var(--global-color-beta);
    font-size: 3rem;
    font-weight: 600;
}

.c-info-sponsor{
    margin:1rem;
    padding: 1rem;
    border: 2px solid var(--global-border-color) ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.c-info-logo{
    justify-self: center;
    align-self: center;
    padding: 1rem;
}

.is-done .c-info{
    display: grid;
}



/*------------------------------------*\
#UTILITIES
\*------------------------------------*/



/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


.is-night {
    --color-front: var(--color-light);
    --color-back: var(--color-dark);
    --color-sun: var(--color-light);
 }